{% extends "layout.html" %}
{% block page_title %}Manage Bookings{% endblock %}
{% block body %}
    {{ super() }}

    <p>
      Here, you can view, edit, cancel, and create bookings and look at past
      bookings for your resort.
    </p>

    <br>
    <button class="w3-button w3-theme" onclick="history.back()">
      < Back
    </button>
    <br><br>

    <!-- ADD BOOKING FORM -->
    <div id="Add Booking" class="w3-container w3-animate-opacity">
      <h2>Add Booking</h2>

      <form action="/bookings/add_booking" method="post"
            autocomplete="off">

        <h4>({{ c.customer_id }}) {{ c.first_name }} {{ c.last_name }}</h4>

        <input type="hidden" name="customer_id" value="{{ c.customer_id }}">

        <br><label>Select Room</label>
        <select class="w3-select" name="room_number" required>
          <option value="" disabled selected>--</option>
          {% for number,x,y,type,capacity in room_table %}
            <option value="{{ number }}">
              {{ number }} - {{ type }} ({{ capacity }} person)
            </option>
          {% endfor %}
        </select><br>

        <br><label>Arrival</label>
        <input class="w3-input" type="date" name="arrival" required>

        <br><label>Nights</label>
        <input class="w3-input" type="number" name="nights"
               min="1" max="99999" value="1">

        <br>
        <input class="w3-button w3-theme" type="submit"
               name="submit" value="Add Booking">

      </form>

      <p style="color:Tomato">{{ err_message }}</p>

      <br>
    </div>

{% endblock %}
