{% extends "layout.html" %}
{% block page_title %}Settings{% endblock %}
{% block body %}
    {{ super() }}

    <p>
      Administrator settings for the application.
    </p>

    <!-- TAB MANAGEMENT -->
    <br>
    <div class="w3-border">
    <div class="w3-bar w3-white w3-border">
      <button id="clear" class="w3-bar-item w3-button testbtn w3-padding-16"
              onclick="openTab(event,'Reset')">
        Reset
      </button>
      <button id="date" class="w3-bar-item w3-button testbtn w3-padding-16"
              onclick="openTab(event,'Date')">
        Date
      </button>
      <button id="help" class="w3-bar-item w3-button testbtn w3-padding-16"
              onclick="openTab(event,'Help Guide')">
        Help Guide
      </button>
    </div>


    <!-- RESET -->
    <div id="Reset" class="w3-container tabname w3-animate-opacity">
      <h2>Clear Data</h2>

      <p>Click below to clear data. Actions are permanent!</p>

      <br>
      <form action="/settings/admin" method="post"
            onsubmit="return confirm('Confirm: clear all data?');">
        <input type="hidden" name="command" value="clear_all">
        <input class="w3-button w3-theme" type="submit" name="submit"
         value="Clear all data">
      </form>

      <br>
      <form action="/settings/admin" method="post"
            onsubmit="return confirm('Confirm: clear all data?');">
        <input type="hidden" name="command" value="clear_example">
        <input class="w3-button w3-theme" type="submit" name="submit"
         value="Clear and fill example data">
      </form>

      <br>
    </div>


    <!-- CHANGE DATE -->
    <div id="Date" class="w3-container tabname w3-animate-opacity">
      <h2>Date</h2>

      <p>
        This is the current date and time used in the database to determine
        the status of bookings and invoices.
      </p>
      <p><b>{{ date }}</b></p>

      <br>
    </div>


    <div id="Help Guide" class="w3-container tabname w3-animate-opacity">
      <h2>Help Guide</h2>

      <p>
        Resortology is a web app designed for hotel staff to manage aspects
        of their resort. The app allows you store customer data, keep track of
        bookings (so you don't overbook), and manage invoices and fees.
      </p>

      <h4>Database Diagram:</h4><br>
      <img src="{{ url_for('static', filename='resortologyERD.png') }}"
           class="w3-image" alt="[database ERD diagram]">

      <br>
    </div>



    <!-- OPEN SPECIFIED TAB -->
    <script>
      document.getElementById( "{{ tab }}" ).click();
    </script>

{% endblock %}
